:root{
    --rosa-primario: rgb(225, 116,170);
    --rosa-secundario: rgb(249, 213, 207);
    --rosa-adicional: rgb(241, 109, 194);
    --verde-primario: rgb(134, 213, 208);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estilos del header*/


#header{
    width: 100%;
    height: auto;
    background-color: var(--verde-primario);
    align-items: baseline;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    

}


nav{
        align-items: center;
    justify-content: space-evenly;

}
#links{
    height: 100px;
    padding-top: 10px;
}

/*contenedor logo iz */


#logoizquierda{
    margin-top: 20px;

}


#logoizquierda-imagen{
    border-radius: 50%;
}


#logocentral ul li a{
    color: white;
}
#logocentral ul li a:hover{
    color: white;
    background-color: var(--rosa-primario);
    transition: 1.5s;
    opacity: .75;
    border-radius: 20px;    
}

#logocentral-imagen{
    max-height: 150px;
}


#redes{
    justify-content: end;
    align-content: space-around;

}
ul {
    list-style: none;
}
.nav-link svg{
    color: var(--rosa-primario);
    padding: 5px;
}
.nav-link svg:hover{
    color: var(--verde-primario);
    background-color: var(--rosa-primario);
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}
.ocultarmobile{
    margin: 0;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    
    }

    .ocultarmobile:first-child{
        margin: auto;
    }
@media screen and (max-width: 576px){
    .ocultarmobile{
        display: none;

    }
}
#navhamburguer{
    border-color: #86D5D0;
}
#logohamburguer{
    height: 50px;
    
}

/*Inicio estilos carousel*/
#carrusel{
    margin: auto;
}

/*Estilos footer*/

#footer{
    background-color: var(--verde-primario);
}

#footer ul li a, span {
    color: #fff;
}

#footer-2 ul li svg{
    color: var(--rosa-primario);
}

#footer-2 ul li svg:hover{
    color: var(--verde-primario);
    background-color: var(--rosa-primario);
    border-radius: 50%;
    padding: 2px;
}

#icono-footer{
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
#boton-volver{
    color: var(--verde-primario);
    background-color: var(--rosa-primario);
}
