*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header{
    height: 300px;
    background-color: aquamarine;
    align-items: baseline;

}


nav{
    
    align-items: center;
    justify-content: space-evenly;

}


/*contenedor logo iz */
#logoizquierda{
    margin-top: 20px;

}


#logoizquierda-imagen{
    border-radius: 50%;
}


#logocentral{

}

#logocentral-imagen{
    height: 150px;
}


#linksnav{
    justify-content: end;

}